/* Colors */
:root {
    --mainText:#ff79c6;
    --secondaryText:#bd93f9;

    --mainColor:#80dfff;

    --fgBlue:#bedeef;
    --bgColor:#282a39;
}

@import "compass/css3";

/* Sizes */
h1 {font-size:46px;}
h2 {font-size:35px;}
h3 {font-size:29px;}
h4 {font-size:26px;}
p  {font-size:20px;}

html, body {
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: var(--bgColor);
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 2%;
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

.greeting {
    font-family: 'Indie Flower', cursive;
    color: var(--fgBlue);
    position: center;
}

.image {
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    font-family: 'Indie Flower', cursive;
    width: auto;
    color: var(--fgBlue);
}

.social-list, li {
    display: inline-block;
    align-items: center;
    margin: 0;
    list-style: none;
    padding: 0.5em;
}

li:hover {
    transform: scale(1.4);
}

.information {
    background-color: var(--fgBlue);
    width: auto;
    padding: 5px 5px 5px 5px;
    color: var(--bgColor);
    border-radius: 70px;
}

@media screen and (max-width: 600px) {
    /* Sizes */
    p  {font-size:16px;}

    body {
        width: 100%;
        margin: 0;
        text-align: center;
        background-color: var(--bgColor);
        font-family: 'Open Sans', sans-serif;
    }

    .main-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 2%;
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }

    .greeting {
        font-family: 'Indie Flower', cursive;
        color: var(--fgBlue);
        position: center;
    }
    
    .image-container {
        width: 200;
        height: 200;
    }

    .img-class {
        width: 100;
        height: 100;
        position: relative;
        left: auto;
        right: auto;
    }

    .card {
        font-family: 'Indie Flower', cursive;
        width: auto;
        color: var(--fgBlue);
    }

    .social-list, li {
        display: inline-block;
        align-items: center;
        margin: 0;
        list-style: none;
        padding: 0.5em;
    }

    li:hover {
        transform: none;
    }
    
    .information {
        background-color: var(--fgBlue);
        width: auto;
        padding: 5px 5px 5px 5px;
        color: var(--bgColor);
        border-radius: 70px;
    }
}