:root{
    --mainText:#ff79c6;
    --secondaryText:#bd93f9;

    --links:#eee86c;

    --mainColor:#80dfff;

    --llBlue:#bedeef;
    --bgColor:#282a39;    
}

@import "compass/css3";


html, body{
    width: 100%; /*new change*/
    margin: 0;
    background-color:#282a39;
    font-family: 'Open Sans', sans-serif;
}

h1, h4 {
    color: var(--llBlue);
    position: center;
    text-align: relative;
    
    left:30px;
    font-family: 'Ranchers', cursive;	
}

h1, h2, h3, strong {
    color: var(--secondaryText);
    position: center;
}

p, li, span, label, input, textarea{
    color: var(--mainText);
}

h1 {font-size:56px;}
h2 {font-size:46px;}
h3 {font-size:35px;}
h4 {font-size:29px;}
p  {font-size: 26px;}


.s1 {
    position:center;
    margin:auto;
    text-align:center;
    width: auto;
    color: var(--mainText);
}

.s2 {
    position:center;
    margin:auto;
    text-align:center;
    width: auto;
    color: var(--mainText);
}

.s3 {
    position:center;
    margin:0;
    text-align:center;
    width: auto;
    color: var(--mainText);
}

.datz-me {
    font-family: 'Indie Flower', cursive;
    text-align: relative;
    position: relative;
    top: 5em;
    left: 40em;
    width: 250px;
    margin: 0 0 2em 0;
}

.img1 {
    width: 400px;
    widht: 400px;
    position: relative;
    left: 10em;
    margin:0 0 6.5em 0;
}

.social-media {
    position:absolute;
    margin: 0 0 2em 0;
    width: auto;
    letter-spacing: 7px;
    right: 10em;
    border: transparent;
    padding: 5px;

}

.main-container {
    width: auto;
    margin: 20px;
}

.img-container {
    position: relative;
    margin: 0;
    text-align: relative;
    width: 400px;
}

.greeting-wrapper{
    font-family: 'Ranchers', cursive;
    text-align: center;
    min-height: 2em;
}

.about-box {
    background:#bedeef;
    width:60%;
    border:solid #bedeef;
    padding:7% 20% 10% 20%; 
    color:#282a39;
    border-radius:100px;
}

.prefs-box {
    background:#282a39;
    width:60%;
    border:solid #bedeef;
    padding:7% 20% 10% 20%; 
    border-radius:100px;
}

.contact-box {
    background:#bedeef;
    width:60%;
    border:solid #bedeef;
    padding:7% 20% 10% 20%; 
    color:#282a39;
    border-radius:100px;
}

.about-text {
    color:#282a39;
}

.contact-text {
    color:#282a39;
}

/* Footer */

.footer {
    text-align: center;
    padding: 2em 0;
    
}

.footer a {

    color: inherit;
    text-decoration: none;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .6;
}

@media (min-width: 800px) {
    .my-img{
        width: 300;
        height: 300;
    }

    .img1 {
        width: 300;
        height: 300;
        position: relative;
        left: 0;
        right: 0;
        margin:0 0 8.5em 10em;
    }

    .img-container {
        width: 300;
        height: 300;
    }

    .social-media {
        display: none;
    }

    .datz-me {
        display: none;
    }
}

@media (min-width: 600px) {
   .my-img{
        width: 300;
        height: 300;
    }

    .img1 {
        width: 300;
        height: 300;
        position: relative;
        left: 0;
        right: 0;
        margin:0 0 8.5em 0;
    }

    .img-container {
        width: 300;
        height: 300;
    }


    .social-media {
        display: none;
    }

    .datz-me {
        display: none;
    }
}

@media (min-width: 300px) {
    .my-img{
        width: 200;
        height: 200;
    }

    .img1 {
        width: 200;
        height: 100;
        position: relative;
        left: auto;
        right: auto;
        margin:0 0 8.5em 5.5em;
    }

    .img-container {
        width: 200;
        height: 200;
    }
    .social-media {
        display: none;
    }

    .datz-me {
        display: none;
    }

    h1 {font-size:46px;}
    h2 {font-size:36px;}
    h3 {font-size:30px;}
    h4 {font-size:23px;}
    p  {font-size: 18px;}


}


@media screen and (min-width: 1080px) {


    h1 {font-size:56px;}
    h2 {font-size:46px;}
    h3 {font-size:35px;}
    h4 {font-size:29px;}
    p  {font-size: 26px;}


    .s1 {
        position:center;
        margin:auto;
        text-align:center;
        width: auto;
        color: var(--mainText);
    }

    .s2 {
        position:center;
        margin:auto;
        text-align:center;
        width: auto;
        color: var(--mainText);
    }

    .s3 {
        position:center;
        margin:0;
        text-align:center;
        width: auto;
        color: var(--mainText);
    }

    .datz-me {
        font-family: 'Indie Flower', cursive;
        text-align: relative;
        position: relative;
        top: 5em;
        left: 30em;
        width: 250px;
        margin: 0 0 3em 3em;
    }

    .arrow {
        position: relative;
        margin: 0 0 0 3em;
    }

    .my-img{
        width: 400;
        height: 400;
    }

    .img1 {
        width: 400px;
        height: 400px;
        position: relative;
        left: 10em;
        margin:0 0 8.5em 0;
    }

    .social-media {
        position:absolute;
        margin: 0 0 2em 0;
        width: auto;
        letter-spacing: 7px;
        right: 10em;
        border: transparent;
        padding: 5px;

    }

    .main-container {
        width: auto;
        margin: 20px;
    }

    .img-container {
        position: relative;
        margin: 0;
        text-align: relative;
        width: 400px;
    }

    .greeting-wrapper{
        font-family: 'Ranchers', cursive;
        text-align: center;
        min-height: 2em;
    }

    .datz-me {
        display:inline-block;
    }

    .social-media {
        display: inline-block;
    }
}
